.container {
  margin: 20px auto;
  width: 700px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

.create, .tags {
	display:inline-block;
}
.tags {
	float:right;
}

