<div class="create">
    <p>Create a new Post</p>

    <form action="/post" method="POST">

    <label for="title">Title</label>
    <input id="title" type="text" name="post[title]"><br><br>

    <label for="body">Body</label>
    <textarea rows="5" name="post[body]"></textarea><br>
    <p>separate tags by comas</p>
    <label for="tags">Tags</label>
    <textarea rows="5" name="post[tags]"></textarea><br><br>

    <input type="submit" value="Create Post" >

    </form>
</div>
