<div class="container">
  <h1>POST PAGE</h1>
  
  	<dl>
	    <dt>Title</dt>
	    <dd><%=@post.title%></dd>
	    <dt>Body</dt>
	    <dd><%=@post.body%></dd>
	    <dt>Tags</dt>
	    <dd><%=@post.tags_s%></dd>
    </dl>

</div>